{% extends "base.html" %}

{% block content %}
    <h1> {{ topic.title }} </h1>
    <p><a href = '{{ topic.get_update_url }}'>Edit topic</a><br>
        <a href = '{{ topic.get_delete_url}}'>Delete topic</a></p>

    <table>
      <tr>
        <th>Umiejętność</th>
        <th>Podstawowa</th>
        <th>Średniozaawansowana</th>
        <th>Zaawansowana</th>
        <th>Edytuj</th>
      </tr>
      {% for skill, levels in skills %}
        <tr>
          <td>{{ skill.title }}</td>
          <td>{% for level in levels.chill %} {{ level.description }} {% endfor %}</td>
          <td>{% for level in levels.medium %} {{ level.description }} {% endfor %}</td>
          <td>{% for level in levels.challenge %} {{ level.description }} {% endfor %}</td>
          <td>
              <li>
                  <a href = '{{ skill.get_absolute_url }}'> Add grades: {{ skill.title }}</a>
              </li>
              <li>
                  <a href = '{{ skill.get_add_skill_level_url }}'> Add skill level for {{ skill.title }}</a>
              </li>
          </td>
        </tr>
      {% endfor %}
    </table>



    {% if empty %}
        Oh no! It seems that you have no skills in this topic currently.<br>
    {% endif %}
    <br>
    <p><a href = '{{ topic.get_add_skill_url }}'>Add a new skill</a></p>
{% endblock %}
